{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title> Quest Tracker - Dashboard </title>
    </head>

{% include 'profile/base.html' %}
    <br><br> <br><br> <br>
    <div class="container bg-dark shadow-md p-5 form-layout text-center" style="font-size:20px">
        <h2> QUEST TRACKER  </h2>
        <hr>
        <p> <b> Welcome to Quest Tracker <br> <br> Your Task Management Application </b> </p>



    </div>
</html>