{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title> Quest Tracker </title>
    </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark justify-content-center" >
        <a class="navbar-brand main-heading " style="color:white"><b>
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; QUEST TRACKING MANAGEMENT</b>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              &nbsp;     &nbsp;     &nbsp;
              <li class="nav-item">
                <a class="btn btn-primary navbar-btn " type="button" href="{% url 'login' %}" style="text-align:center">Head Login </a>&nbsp; &nbsp;&nbsp; &nbsp;
              </li>
                  <a class="btn btn-primary navbar-btn " type="button" href="{% url 'manager_login' %}" style="text-align:center">Manager Login </a>&nbsp; &nbsp;&nbsp; &nbsp;
              </li>
                  <a class="btn btn-primary navbar-btn " type="button" href="{% url 'staff_login' %}" style="text-align:center">Staff Login</a>&nbsp;
              </li>

              &nbsp;     &nbsp;     &nbsp;
              <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Team
  </button>&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'teamlead_login' %}">TeamLead Login</a>
    <a class="dropdown-item" href="{% url 'user_login' %}">User Login</a>

  </div>
</div>
              &nbsp;    &nbsp;     &nbsp;
            </ul>
          </div>
    </nav>
    <br>
    <body>

        <br>
        <br>
        <div class="text-center">

               <br><br><br><br>

               <br><br><br><br>

        <h3> Quest Tracker...Track your progress... </h3>
          <br>
            <br><br><br><br>

        </div>
      </body>
    <br>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous">
    </script>
</html>



